Service References/SOAP/ContactVerify31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:MelissaDataPersonator" elementFormDefault="qualified" targetNamespace="urn:MelissaDataPersonator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://personator.melissadata.net/v3/SOAP/ContactVerify?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceMD.mdContactVerify" />
  <xs:element name="doContactVerify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceMD.mdContactVerify" minOccurs="0" name="Request" nillable="true" type="q1:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doContactVerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceMD.mdContactVerify" minOccurs="0" name="doContactVerifyResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>